<%= div_for comment do %>
	<p style="color:red;", class="margin_large">
		<strong><i>Posted <%= time_ago_in_words(comment.created_at) %></i></strong>
	</p>
	<p style="font-family:verdana; color:black; font-size:20px;" class="margin_large">
		<%= h(comment.body) %>
	</p>
<% end %>