<%= form_for @post, class: "horizontal" do |f| %>
  <% if @post.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@post.errors.count, "error") %> prohibited this post from being saved:</h2>

      <ul>
      <% @post.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <br>

  <div class="form-group">
    <%= f.label :title, :class => "col-sm-2 control-label" %><br>
  </div>
  <div class = "form-group col-lg-7">
    <%= f.text_field :title, :class => "form-control" %>
  </div>
  
  <br><br><br><br>
  <div class="form-group">
    <%= f.label :body, :class => "col-sm-2 control-label" %><br>
  </div>
  <div class = "form-group col-lg-7">
    <%= f.text_area :body, :rows => 8, :class => "form-control" %>
  </div>

  <br><br><br><br><br><br><br><br><br><br><br><br>
  
  <div class="form-group">
    <!-- <%= f.submit %> -->
    <%= button_tag(type: "submit", :class => "btn btn-primary margin_small") do %>
      <span class = "glyphicon glyphicon-check"></span> Post it!
    <% end %>
  </div>
<% end %>
