<h1>Editing post</h1>

<%= render 'form' %>

<%= button_to @post, class: "btn btn-primary btn-lg margin_small", method: :get do %>
  <span class = "glyphicon glyphicon-eye-open"></span> Show
<% end %>

<br>
<%= button_to posts_path, class: "btn btn-warning btn-lg margin_small", method: :get do %>
  <span class = "glyphicon glyphicon-arrow-left"></span> Back
<% end %>

<!-- <%= link_to 'Show', @post %> -->
<!-- <%= link_to 'Back', posts_path %> -->
