<div class="jumbotron">
  <h1>Blog Away!</h1>
  <p>Your blog, your space - Blog Away!</p><br><br>
  <%= button_to new_post_path, class: "btn btn-success btn-lg", method: :get do %>
  <span class = "glyphicon glyphicon-pencil"></span> New article!
<% end %>
</div>

<h1>Listing posts</h1>

<table class = "table table-hover">
  <thead>
    <tr>
      <th>Title</th>
      <th>Body</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @posts.each do |post| %>
      <tr>
        <td><%= post.title %></td>
        <td><%= post.body %></td>
        <!-- <td><%= button_to post, class: "btn btn-primary btn-lg", method: :get do %>
          <span class = "glyphicon glyphicon-eye-open"></span> See more
          <% end %>
        </td> -->
        <!-- <td><%= button_to edit_post_path(post), class: "btn btn-warning btn-lg", method: :get do %>
          <span class = "glyphicon glyphicon-edit"></span> Edit it
          <% end %>
        </td> -->
        <!-- <td><%= button_to post, method: :delete, data: { confirm: "Are you sure?" }, class: "btn btn-danger btn-lg" do %>
          <span class = "glyphicon glyphicon-trash"></span> Delete it
          <% end %>
        </td> -->
        
        <td><%= button_to "See more", post, method: :get, class: "btn btn-primary btn-lg" %></td>
        
        <td><%= button_to "Edit it", edit_post_path(post), method: :get, class: "btn btn-warning btn-lg" %></td>

        <td><%= link_to '<span class="glyphicon glyphicon-trash"></span>Delete it'.html_safe, post, method: :delete, data: {confirm: 'Are you sure?'}, class: 'btn btn-danger btn-lg white' %></td>
        
        <!-- <td><%= button_to "Delete it", post, method: :delete, data: { confirm: 'Are you sure?' }, class: "btn btn-danger btn-lg" %></td> -->
        <!-- <td><%= link_to 'Destroy', post, method: :delete, data: { confirm: 'Are you sure?' }, class: "btn btn-danger btn-lg" %></td> -->

        <!-- <td><button type="button" class="btn btn-primary btn-lg"><span class="glyphicon glyphicon-edit"></span> Edit</button></td> -->
        <!-- <td><%= link_to 'Show', post %></td> -->
        <!-- <td><%= link_to 'Edit', edit_post_path(post) %></td> -->
        <!-- <td><%= link_to 'Destroy', post, method: :delete, data: { confirm: 'Are you sure?' } %></td> -->
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= button_to new_post_path, class: "btn btn-success btn-lg margin_small", method: :get do %>
  <span class = "glyphicon glyphicon-pencil"></span> New article!
<% end %>

<!-- <%= link_to 'New Post', new_post_path %>  -->