<h1>New post</h1>

<%= render 'form' %>

<%= button_to posts_path, class: "btn btn-warning btn-lg margin_small", method: :get do %>
  <span class = "glyphicon glyphicon-arrow-left"></span> Back
<% end %>

<!-- <%= link_to 'Back', posts_path %> -->
