<p id="notice"><%= notice %></p>

<p>

  <!-- <strong>Title:</strong> -->
  <div class = "page-header margin_small">
  	<h1><%= @post.title %></h1>
  </div>
</p>

<p class="lead margin_large">
  <strong>Body:</strong>
  <%= @post.body %>
</p>

<br><br>

<%= button_to edit_post_path(@post), class: "btn btn-success btn-lg margin_small", method: :get do %>
  <span class = "glyphicon glyphicon-check"></span> Edit
<% end %>

<br><br>

<hr><h2 class="margin_small">Comments</h2><hr>
<div id="comments">
	<%= render :partial => @post.comments.reverse %>
</div>

<br><br>

<%= form_for([@post, Comment.new], remote: true, class: "horizontal") do |f| %>
	<div class="form-group col-lg-7">
  <p><%= f.label :body, "New Comment", :class => "control-label" %><br/>
		<%= f.text_area :body, :class => "form-control" %>
  </div>
	</p>
  <br><br><br><br><br><br>
	
  <div class="form-group">
    <!-- <%= f.submit %> -->
    <%= button_tag(type: "submit", :class => "btn btn-primary margin_small") do %>
      <span class = "glyphicon glyphicon-check"></span> Post it!
    <% end %>
  </div>
<% end %>


<br>
<%= button_to posts_path, class: "btn btn-warning btn-lg margin_small", method: :get do %>
  <span class = "glyphicon glyphicon-arrow-left"></span> Back
<% end %>

<!-- <%= link_to 'Edit', edit_post_path(@post) %> -->
<!-- <%= link_to 'Back', posts_path %> -->
