/*.btn {
    border-radius: 0px;
}*/

.white {
	color: white !important;
}

.custum_inputline {
	position: relative;
	width: 750px;
	left: 10px;
}

.margin_small {
	margin-left: 5px;
}

.margin_large {
	margin-left: 10px;
}

.custom_textarea {
	position: relative;
	width: 750px;
	left: 10px;
}

.jumbotron {
	background-image: asset-data-url("forest.jpg");
	height: 300px;
	text-shadow: black 0.3em 0.3em 0.3em;
	color: white;
}